@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    /* #contact {
        height: 40vh;
    } */
    #footer {
        height: fit-content;
    }
    .section__pic-container img {
        width: auto;
        height: 100%;
        margin-bottom: 2rem;
        z-index: 1;
    }
    .section__pic-container {
        justify-content: center;
        width: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav { /* Display for desktop will disappear when width is smaller than 1200px*/
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 3rem;
        justify-content: center;
    }
    .about-containers {
        margin-top: 0;
    }
    .section__pic-container img {
        width: 120%;
        height: 120%;
        justify-content: center;
    }
    .menu-links li a{
        font-size: 1.25rem;
        padding: 0;
        cursor: pointer;
    }
    .menu-links {
        background-color: white;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;
    }
    .hamburger-menu {
        position: absolute;
        right: 25px;
    }
    #contact {
        height: 40vh;
    }
    #profile {
        height: fit-content;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    #hamburger-nav {
        z-index: 10;
        position: relative;
        display: flex;
    }
    .hamburger-icon {
        z-index: 11;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    footer {
        height: fit-content;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    #article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        gap: 0.5rem;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 0.75rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links li a{
        text-align: center;
        font-size: 0.75rem;
    }
    .nav-links {
        gap: 0.5rem;
    }
    .section__pic-container {
        width: auto;
        height: auto;
        justify-content: center;
        margin-bottom: 0;
        padding: 0;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    .nav-links-container {
        height: auto;
    }
    .nav-link {
        margin-bottom: 0;
    }
    footer p {
        margin-bottom: 1rem;
    }
    .article-container {
        gap: 0.5rem;
    }
    .menu-links li a{
        font-size: 1rem;
        padding: 0;
    }
    .menu-links {
        background-color: white;
        position: absolute;
    }
    .section__pic-container img {
        height: 75%;
        width: 75%;
        margin-bottom: 10px;
    }
    .hamburger-menu{
        display: none;
    }
    #profile {
        height: fit-content;
    }
}