@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, .nav-links {
    display: flex;
    align-items: center;
}

#desktop-nav {
    /* position: fixed;
    width: 100%;
    top: 0; */
    border-bottom-width: 0.1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
    justify-content: space-around;
    align-self: center;
    height: 6vh;
}

.nav-links {
    list-style: none;
    font-size: 1rem;
    justify-content: center;
    width: max-content;
    font-weight: 200;
    height: 6vh;
}

#desktop-nav .aclick {
    padding: 0 1rem;
    height: 4vh;
    padding-top: 0.5rem;
}

#desktop-nav .aclick:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    /* color: gray; */
    /* background-color: rgb(181, 181, 181); */
    /* text-decoration-color: rgb(181, 181, 181); */
}

.logo {
    font-size: 1.75rem;
    font-weight: 200;
}

#desktop-nav .logo:hover {
    color: default;
    cursor: pointer;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
   position: relative;
   right: -15px;
   display: inline-block; 
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

nav ul.nav-links li a, .menu-links li a {
    cursor: pointer;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

.hamburger-icon span:last-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    padding: 0 5%;
    position: relative;
}

.section__pic-container img {
    display: flex;
    height: fit-content;
    width: 400px;
}

.section__pic-container {
    height: fit-content;
    width: fit-content;
    margin: 0 0;
    display: flex;
    padding-bottom: 1.5rem;
}

.section__text {
    align-self: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.section__text p {
    font-weight: 500;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: black;
    color: white;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 2rem;
    height: 50%;
    display: flex;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
}

article {
    width: 10rem;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

article.icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
    margin: 0;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

.project-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100dvw;
    height: 100%;
    left: 0;
    margin-top: 15px;
    gap: 1.25em;
    box-sizing: border-box;
    padding: 1rem;
}

.project-container {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    height: 400px;
    flex: 1 1 30%;
    box-sizing: border-box;
    min-width: 500px;
    max-width: 500px;
}

#arrow1 {
    margin-right: 10rem;
}

.project-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.article-container1, .article-container2, .article-container3 {
    display: flex;
    text-align: initial;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
    position: relative;
}

.overlay1, .overlay2, .overlay3 {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 1rem;
}

.text1, .text2, .text3 {
    height: 100%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    max-width: 90%;
    font-size: 13.67px;
}

.article-container1:hover .overlay1, .article-container2:hover .overlay2, .article-container3:hover .overlay3{
    opacity: 1;
}

/* CONTACT SECTION */

#contact {
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    padding-bottom: 5%;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER SECTION */

footer {
    height: 10vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

.nav-links {
    gap: 2rem;
}